BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 80
SortIncludes: true
BreakBeforeBraces: Attach
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
IndentCaseLabels: true
ContinuationIndentWidth: 4
AlignOperands: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortLoopsOnASingleLine: false
MaxEmptyLinesToKeep: 1
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false
SpaceInEmptyParentheses: false
Cpp11BracedListStyle: false